spring:
  profiles:
    active: local

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:writingdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/writing_dev
    username: writing_dev
    password: writing_dev
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

---
spring:
  config:
    activate:
      on-profile: uat
  datasource:
    url: jdbc:postgresql://localhost:5432/writing_uat
    username: writing_uat
    password: writing_uat
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://postgres:5432/writing_prod
    username: writing_prod
    password: ${WRITING_DB_PASSWORD}
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
